:root {
    --dark: #131a26;
    --light: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--light);
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
    height: 70px;
    padding: 16px;
    padding-top: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 30px;
    font-weight: 300;
}

.display span { 
    padding-right: 15px;
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    flex: 1 1 25%;
}

.sop {
    background-color: rgb(28, 219, 28);
}

.op {
    background-color: rgb(233, 165, 40);
}

.digit {
    background-color: rgb(185, 185, 185);
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}

button:active {
    transform: scale(1.01);
    filter: brightness(70%);
    transition: background-color 0.3s;
}


.lcorner { 
    border-bottom-left-radius: 16px;
}

.rcorner { 
    border-bottom-right-radius: 16px;
}








